* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}

header {
    height: auto;
    background-color: rgb(0, 113, 248);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

nav {
    display: flex;
    gap: 39%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
    padding: 10px 18px;
}

h6 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

p {
    color: #fff;
    margin-bottom: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

form {
    position: relative;
    max-width: 450px;
}

form input {
    max-width: 450px;
    width: 88%;
    height: 50px;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

form button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #ee626b;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;
}


.li-final {
    background-color: rgb(238, 98, 107);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.row {
    width: 80%;
    padding: 20px;
}

.body-content {
    width: 100%;
    height: 846px;
    display: flex;
    background-color: rgb(0, 113, 248);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 150px 150px;
    background-image: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/banner-bg.jpg");
}

.page-info {
    width: 35%;
    padding: 200px;
}

.game-image {
    width: 420px;
    height: 550px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    margin-left: 71px;
}

.game-image img {
    border-radius: 20px;

}

.price {
    position: absolute;
    right: 20%;
    top: 23%;
    border-radius: 25px;
    background-color: #008af8;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding: 4px 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.offer {
    position: absolute;
    top: 65%;
    right: 37%;
    border-radius: 50%;
    background-color: #ee626b;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.features {
    margin-top: -80px;
    width: 100%;
    height: auto;

}

.features-content {
    display: flex;
    width: 100%;
    gap: 35px;
    justify-content: center;
}

.features-card {
    width: 20%;
    height: 100px;
}

.features-card-items {
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}

.features-image-content {
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    background-color: #0071f8;
    border-radius: 50%;
    transition: all .3s;
}

.features-image-content:hover {
    background-color: rgb(238, 98, 107);
    transition: all .3s;

}

.features-image-content img {
    width: 45%;
    margin-top: 24px;
}

.features-card-items h4 {
    font-size: 17px;
    margin-top: 25px;
    text-transform: uppercase;
}

.features-card a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.tit {
    background-color: white;

    width: 100%;
    padding: 0 120px;


}

.treding {
    margin-top: 200px;
    display: flex;
    width: 100%;

}

.titulo {
    width: 45%;

}

.titulo h6 {
    color: #ee626b;
}

.titulo h2 {
    color: black;
}

.subtitulo {
    width: 100%;
    display: flex;

}

.boton {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 4%;

}
.boton a {
    background-color: #ee626b;
    padding: 20px;
    height: 18px;
    border-radius: 25px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


.features-cards img {
    width: 250px;
    height: 250px;
    border-radius: 20px;

}

.features-card-games {

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}

.features-cards a {
    text-decoration: none;
}


.features-game-name span {
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: inline-block;
    font-family: "Poppins", sans-serif;

    text-decoration: none;

}

.features-game-name h4 {
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.features-game-name {
    padding: 25px;
    text-align: justify;
    display: grid;
}

.hgs {
    background-color: #f7f7f7;
    ;
    border-radius: 150px;
    width: 100%;
    padding: 0 120px;


}

.top {

    margin-top: 200px;
    display: flex;
    width: 100%;

}

.tit-top {
    width: 45%;

}

.tit-top h6 {
    color: black;
}

.tit-top h2 {
    color: #ee626b;
}

.sub-top {
    width: 100%;
    display: flex;
}

.features-card-sale {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}

.exp-btn {
    background-color: #ee626b;
    padding: 20px;
    height: 18px;
    border-radius: 25px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 70px;

}

.categories {
    background-color: white;
    margin-top: 200px;
    display: flex;
    width: 100%;

}

.cat-men {
    background-color: white;
    ;
    border-radius: 150px;
    width: 100%;
    padding: 0 120px;
    justify-content: center;
    text-align: center;

}

.cat-tit {
    width: 100%;
}

.cat-tit h6 {
    color: #ee626b;
}

.cat-tit h2 {
    color: black;
}

.img-cat {
    margin-top: 21px;

}

.car-cat {
    background-color: #0071f8;
    border-radius: 25px;
}

.features-game-cat h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.fondo::after {
    background-image: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/cta-bg.jpg");
    display: flex;
    width: 33%;
    height: 600px;

}

.fondo img {
    width: 493px;
    height: 494px;
    border-radius: 25px;
}

.cont-final {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
}

.our-shop {
    margin-top: 64px;
    height: auto;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 80px;
    width: 19%;
    position: relative;
    right: -144px;
}



.our-shop-title-container {
    margin: 45px 0;
}

.our-shop-title {
    color: #ee626b;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.our-shop-title-container {
    margin: 41px 0 29px 0px;
}

.our-shop-description {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
    padding: 0 115px 0 0;
    margin-bottom: 58px;

}

.prices {
    color: #0071f8;
}

.lorem {
    padding: 0 40px 0 0;
}

.lorem p {
    line-height: 28px;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 16px;
}


.button-shop a {
    display: inline-block;
    background-color: #ee626b;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all .3s;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}


.newsletter {
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 80px 60px;
    height: auto;
    position: relative;
    right: 10%;
    width: 19%;
    margin-top: 19%;
}

.newsletter-title {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}



.newsletter-description h4 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 56px 0;
    line-height: 44px;
    font-family: "Poppins", sans-serif;

}

.newsletter-description span{
    color: #0071f8;
    font-family: "Poppins", sans-serif;

}

footer{
    height: 200px;
    margin-top: 160px;
    background-image: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 125px;
    border-top-left-radius: 125px;
}

.footer-container{
    text-align: center;
    padding: 19px;
}

.footer-container p {
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}